<%- include("../partials/header.ejs")%>
<div class=" gradient-background">
    <div class="comment-form">
        <h1 class="text-center">Edit comment</h1>
        <form action="/game/<%=commentData.gameId%>/comments/<%=commentData._id  %>?_method=PUT" method="POST"
            class=" form-group">
            <div class="form-group ">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea maxlength="400" class="form-control comment-textarea" id="comment-keypress"
                    name="comment[text]"><%=commentData.text  %></textarea>
                <h4 class="d-inline mt-2"><span id="numbCharac"></span>/400</h4>
                <button class="btn btn-success float-right mt-2 ">Submit</button>
            </div>
        </form>
    </div>
</div>
<%- include("../partials/footer.ejs")%>