<%- include("partials/header.ejs")%>
<section>
    <div class="display-3 text-center color-dark-blue text-white p-3"><%=gameSearchResults[0].name%></div>
    <img src="<%= gameSearchResults[0].background_image %> " alt="" class="img-fluid">
    <div class="text-center text-white color-dark-blue">
        <h3 class="mb-0 pb-0">Release</h3>
        <div class="display-4"><%=gameSearchResults[0].released  %> </div>
    </div>
</section>
<section>
    <div class="container color-red text-white">
        <div class="description-game ">
            <p>
            <h2 class="d-inline color-likePurple">Description</h2>
            </p>
            <%-gameSearchResults[0].description %>
        </div>
    </div>
    <div class="rating-game mr-0 pr-0 mt-0">
        <h5 class="text-white text-center mb-0">Rating</h5>
        <h1 class="text-white hvr-icon-pop px-1 mt-0 pt-0 mb-2 "><%= gameSearchResults[0].rating%><i
                class="fas fa-star fa-sm hvr-icon"></i>
        </h1>
    </div>
    <% if(gameSearchResults[0].reddit_url.length>1){ %>
    <a href=" <%=gameSearchResults[0].reddit_url%> " class="btn color-reddit text-white p-2">Reddit <i
            class="fab fa-reddit fa-lg"></i></a>
    <% } %>
    <section>
        <% if(gameSearchResults[0].clip){ %>
        <br>
        <div class="video-space container-fluid px-0 text-center text-white color-likePurple p-1">

            <video id="my-video" class="video-js" controls preload="auto" width="720" height="480"
                poster="MY_VIDEO_POSTER.jpg" data-setup="{}" class="text-center">
                <source src="<%= gameSearchResults[0].clip.clip %> " type="video/mp4" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        <br>
        <% } %>
    </section>
    <section>
        <div class="container">
            <% if(gameSearchResults[1]){ %>
            <% gameSearchResults[1].results.forEach(function(game){ %>
            <button class="mb-2 d-inline btn btn-info rounded-pill "><a href="/game/<%=game.id%>"
                    class="anker-properties-off"><%=game.name%></a></button>
            <% }) %>
            <% }%>
        </div>
    </section>
    <section>
        <div class="container" id="wrap-container">
            <a href="/game/<%= gameSearchResults[0].id%>/comments/new " class="btn btn-dark float-right mb-2">Write a
                comment</a>
            <% if(comments){ %>
            <% comments.forEach(function(comment){ %>
            <div class="comment border">
                <div class="user-name"><%=comment.author.username  %> </div>
                <div class="date-comment"><%=comment.created  %> </div>
                <div class="comment-desc"><%=comment.text%> </div>
                <div class="like-count mt-1">A 100 personas le gusta</div>
                <a href="#" class="btn btn-success comment-like-button btn-md">Like</a>
            </div>
            <% }) %>
            <% } %>
    </section>
</section>
<%- include("partials/footer.ejs")%>